.app {
  width: 100vw;
  height: 100vh;
  background: #f5fbff;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    width: 80%;
    max-width: 850px;
  }
}
