.main-content {
  height: 500px;
  text-align: center;
  margin-top: 5rem;
  border-radius: 50px;
  background: #f5fbff;
  // box-shadow: 7px 7px 14px #dadfe3, -7px -7px 14px #ffffff;
  box-shadow: -6px -6px 7px #e9eef2, 6px 6px 7px #ffffff;
  display: flex;
  justify-content: space-around;
  // border: 1px solid red;
}
